body {
	padding-top: 70px;
}

.jumbotron {
	color: #0e1a40 !important;
	background-color: #ecf0f1 !important;
}

.navbar-inverse {
	background: #0e1a40 !important;
}

.navbar-inverse .navbar-nav>li>a {
	color: #FFF!important;
}

.navbar-brand {
	color: #FFF !important;
}